@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
}

:root {
  /* Menggunakan Tertiary untuk base background agar berkesan akademik kertas */
  --background: #fdfcf8;
  /* Menggunakan Neutral untuk base text */
  --foreground: #4a4a4a;
  
  --primary: #1a3c34; 
  --primary-foreground: #ffffff;
  
  --secondary: #8b5e3c;
  --secondary-foreground: #ffffff;
  
  --tertiary: #fdfcf8;
  --neutral: #4a4a4a;
  
  --muted: #e5e5e5;
  --muted-foreground: #737373;
  
  --border: #d4d4d4;
  --input: #d4d4d4;
  --ring: #1a3c34;
  
  --popover: #ffffff;
  --popover-foreground: #4a4a4a;
  --card: #ffffff;
  --card-foreground: #4a4a4a;
  --accent: #e5e5e5;
  --accent-foreground: #1a3c34;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-primary;
  }
}

html, body {
  overflow-x: hidden;
}

.input-password-mask {
  -webkit-text-security: disc;
}

.input-password-plain {
  -webkit-text-security: none;
}